@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-img {
  content: url(../../assets/Profile.svg);
  max-width: 100%;
  height: auto;
}

.logout-img {
  content: url(../../assets/Logout-img.svg);
  max-width: 100%;
  height: auto;
}