/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1440px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

:root {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.05rem;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  background-color: #0A008A;
  color: #FFFFFF;
}

button:hover {
  background-color: #A0A3FF;
  color: #0A008A;
}

button:active {
  background-color: #000000;
  color: #FFFFFF;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0A008A;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes slideinRight {
  0% {
    transform: translateX(-205%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.move-right {
  animation: slideinRight 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slideinLeft {
  0% {
    transform: translateX(-50%);
  }
  button {
    background-color: #f9f9f9;
  }
}

.move-left {
  animation: slideinLeft 4s infinite;
  animation-timing-function: ease-in-out;
}
