@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
}

:root {
  font-family: 'Montserrat';
  font-size: 16px;
  /* line-height: 20px; */
  font-weight: 400;
}

.breadcrumb li {
  display: inline;
  color: #46464f;
  opacity: 0.38;
}

.breadcrumb li:hover {
  color: #0a008a;
  opacity: 1;
}

.breadcrumb li + li:before {
  padding: 8px;
  content: '\00a0'url(/src/assets/breadcrumb-arrow.svg) '\00a0';
  opacity: 0.38;
}
[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
  outline: 2px solid #311643;
  @apply rounded-xl;
}

/* Add Styles Here -TECHLEAD */
