@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Scrollbar */
  ::-webkit-scrollbar {
    border: 0;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: inherit; /* Inherits from outer container */
    border-radius: 20px;
}

/* Container */
#container-outer {
    overflow-y: hidden;
    overflow-x: scroll; /* Horizontal-only scrolling */
    height: 400px;
    background-color: white; /* Initial color of the scrollbar */
    transition: background-color 200ms;
}
#container-outer:hover {
    background-color: red; /* Hover state color of the scrollbar */
}
#container-inner {
    background-color: white; /* Masks outer container */
    font-size: 0;
    height: inherit; /* Inherits from outer container */
    width: 10000px; /* Set to see the scrolling effect */
}

@keyframes slideinRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-45%);
  }
}

.move-right {
  animation: slideinRight 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slideinLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-155%);
  }
}

.move-left {
  animation: slideinLeft 4s infinite;
  animation-timing-function: ease-in-out;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

