@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
@keyframes slideinRight {
  0% {
    transform: translateX(-205%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.move-right {
  animation: slideinRight 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slideinLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-155%);
  }
}

.move-left {
  animation: slideinLeft 4s infinite;
  animation-timing-function: ease-in-out;
}